@import "tailwindcss";

.gradient-background {
  background: linear-gradient(288deg, #b68eea,#a849c5,#d02abe, #257ec4, #3bbec2);
  background-size: 300% 300%;
  height: 100vh;
  width: 100%;
  animation: gradient-animation 25s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.gradient-background::before {
  content: "";
  position: absolute;
  inset: 0;
  background: inherit;
  filter: blur(60px);
}
.content {
  position: relative;
  z-index: 1;
}

.typewriter {
  position: relative;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  /* border-right: 0.15em solid black; The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  margin-left: 150px;      /* Aligns with the left edge */
  margin-right: auto;
  letter-spacing: .0.0555em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(80, end);
    /* blink-caret 0.75s step-end infinite; */
  font-size: 4rem;  /* Ensures cursor matches text height */
  line-height: 1.1;      /* Ensures cursor matches text height */
  display: inline-block; /* Prevents extra vertical space */
  vertical-align: middle; /* Aligns with text baseline */
}

.typewriter::after {
  content: "";
  position: absolute;
  right: 0;
  top: 78%; /* Adjust to vertically center the cursor */
  width: 4px;
  height: 20%; /* Adjust to match text height */
  background: black;
  animation: blink-caret 0.75s step-end infinite;
  transition: opacity 0.2s;
}

.typewriter.done::after {
  animation: none;
  opacity: 1;
}

/* The typing effect */
@keyframes typing {
  from { width: 0% }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { opacity: 0; }
  50% { opacity: 1; }
}